.DS_Store
jupyter_notebook/data/tuber_hll-balancing_full_genome_path
jupyter_notebook/data/tuber_hll-binning_full_genome_path
jupyter_notebook/output/
jupyter_notebook/.DS_Store
jupyter_notebook/data/sample_100_batches_50_gen
jupyter_notebook/data/.DS_Store
.DS_Store
.DS_Store
jupyter_notebook/data/.DS_Store
jupyter_notebook/data/bakrep-export_18112024.tsv
experiments/012_cor_distinct_kmers_compress_sizes/tmp/*
experiments/012_cor_distinct_kmers_compress_sizes/input/*
experiments/012_cor_distinct_kmers_compress_sizes/output/*
.snakemake
.DS_Store
jupyter_notebook/.DS_Store
jupyter_notebook/data/.DS_Store
r_scripts/.Rhistory
r_scripts/.RData
files/compressed_100x50_batches/*
experiments/013_phylo_tree_661k_batches/first_25
experiments/013_phylo_tree_661k_batches/first_50
experiments/013_phylo_tree_661k_batches/batches_reordered
experiments/014_top_19_spiecies_samples
experiments/015_packing_experiments
experiments/016_testing_compression_with_and_without_reordering
experiments/017_random_sample_with_growing_size
experiments/018_sal_enterica_sample_growing_size
files/comp_packing
files/prefix25_661k
experiments/012_version_1_IMPORTANT_snakemake_workflow/tmp
experiments/012_version_1_IMPORTANT_snakemake_workflow/input
experiments/012_version_1_IMPORTANT_snakemake_workflow/output
files/species_mix
experiments/019_version_2_snakemake_workflow/input/*
experiments/019_version_2_snakemake_workflow/output
experiments/019_version_2_snakemake_workflow/tmp
experiments/019_version_2_snakemake_workflow/cpr_output
experiments/021_20000_genomes_experiment
experiments/022_predict_compression_sizes
jupyter_notebook/data/034_experiment_ecoli_backbone_min_map/*.txt
experiments/034_phylogenetic_placements/e_coli_experiment/034_experiment_ecoli_backbone_min_map/*.txt
experiments/034_phylogenetic_placements/e_coli_experiment/034_bin_min_map_path/*.txt
experiments/030_phylo_sketches_sizes_comparision/accession/batches/*.txt
experiments/030_phylo_sketches_sizes_comparision/accession/cpr_files/*.tar.xz
experiments/030_phylo_sketches_sizes_comparision/s10k/batches/*.txt
experiments/030_phylo_sketches_sizes_comparision/s10k/cpr_files/*.tar.xz
experiments/030_phylo_sketches_sizes_comparision/s1k/batches/*.txt
experiments/030_phylo_sketches_sizes_comparision/s1k/cpr_files/*.tar.xz
experiments/034_phylogenetic_placements/e_coli_experiment/tree_min_map/*.nw
experiments/034_phylogenetic_placements/e_coli_experiment/tree_minmap_leave_order/*.txt
experiments/036_e_coli_quasiphylo_vs_phylo/batch_phylo_order/*.txt
experiments/040_species_independent/end_accession_selection_strategy/min_mapping/*.txt
experiments/036_e_coli_quasiphylo_vs_phylo/batch_quasi_phylo_order/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_2500/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_4000/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/cluster/batches_2500/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/cluster/batches_4000/*.txt
experiments/040_species_independent/random_selection_strategy/tree/*.txt
experiments/040_species_independent/end_accession_selection_strategy/tree/*.txt
experiments/040_species_independent/random_selection_strategy/references/*.msh
experiments/040_species_independent/end_accession_selection_strategy/min_mapping/values/*.csv
*.tar.xz
*.msh
*.fa
*.fa.gz
*.nw
experiments/040_species_independent/end_accession_selection_strategy/queries/*.txt
experiments/040_species_independent/end_accession_selection_strategy/distance_results/*.csv
experiments/040_species_independent/end_accession_selection_strategy/min_mapping/names/*.csv
experiments/040_species_independent/end_accession_selection_strategy/res_06.csv
experiments/031_quasi-phylogenetic_sample/myco_tuberculosis/result_10k.tsv
experiments/034_phylogenetic_placements/e_coli_experiment/distance_matrix_ecoli.tsv
experiments/034_phylogenetic_placements/e_coli_experiment/phylo_placement/dist_matrix.csv
experiments/040_species_independent/end_accession_selection_strategy/queries_06_bis.csv
experiments/040_species_independent/end_accession_selection_strategy/queries.csv
experiments/041_salmonella_enterica_phylo_order/min_names/*.txt
experiments/041_salmonella_enterica_phylo_order/min_values/*.txt
experiments/041_salmonella_enterica_phylo_order/parts/*.txt
experiments/041_salmonella_enterica_phylo_order/distances/*.csv
.ipynb_checkpoints
invalid_paths.txt
experiments/041_salmonella_enterica_phylo_order/leave_groups/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_4000_hll_path/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_4000_leaves/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_4000_leaves_path/*.txt
experiments/040_species_independent/end_accession_selection_strategy/phylo_orders/batches_4000_nodes/*.txt
experiments/041_salmonella_enterica_phylo_order/leave_groups_path/*.txt
experiments/042_661k_per_species_fully_phylo_compression/batches/*.txt
*.txt
*.hll
*.csv
!experiments/045_selection_strategy_experiments/queries/without_path/*.txt
!experiments/045_selection_strategy_experiments/references/without_path/*.txt
!experiments/045_selection_strategy_experiments/first_reordering/without_path/*.txt
!experiments/041_salmonella_enterica_phylo_order/references.txt
*.mbgc
*.agc
.snakemake_timestamp
.Rproj.user
.Rhistory