.DS_Store
jupyter_notebook/data/tuber_hll-balancing_full_genome_path
jupyter_notebook/data/tuber_hll-binning_full_genome_path
jupyter_notebook/output/
jupyter_notebook/.DS_Store

jupyter_notebook/data/.DS_Store
.DS_Store
.DS_Store
jupyter_notebook/data/.DS_Store
