.DS_Store
jupyter_notebook/data/tuber_hll-balancing_full_genome_path
jupyter_notebook/data/tuber_hll-binning_full_genome_path
jupyter_notebook/output/
jupyter_notebook/.DS_Store
jupyter_notebook/data/sample_100_batches_50_gen
jupyter_notebook/data/.DS_Store
.DS_Store
.DS_Store
jupyter_notebook/data/.DS_Store
jupyter_notebook/data/bakrep-export_18112024.tsv
experiments/012_cor_distinct_kmers_compress_sizes/tmp/*
experiments/012_cor_distinct_kmers_compress_sizes/input/*
experiments/012_cor_distinct_kmers_compress_sizes/output/*
.snakemake
.DS_Store
jupyter_notebook/.DS_Store
jupyter_notebook/data/.DS_Store
r_scripts/.Rhistory
r_scripts/.RData
files/compressed_100x50_batches/*
experiments/013_phylo_tree_661k_batches/first_25
experiments/013_phylo_tree_661k_batches/first_50
experiments/013_phylo_tree_661k_batches/batches_reordered